<br><br>
<h1>YOUR ORDER</h1>

<p>Order #: <%= @order.id %></p>
<p>Purchased By: <%= @order.user.email %></p>
<p>Purchased at: <%= @order.created_at.strftime("%A, %d %b %Y %l:%M %p") %></p>

<p>Subtotal: <%= number_to_currency(@order.subtotal) %></p>
<p>Tax: <%= number_to_currency(@order.tax) %></p>
<p>Total: <%= number_to_currency(@order.total) %></p>

<% @order.carted_products.each do |carted_product| %>
  <h4>Product: <%= carted_product.product.name %></h4>
  <p>Quantity: <% %></p>
  <img src="">
  <br><br>
<% end %>

