<h1>Order # <%= @oder.id %></h1>

User ID: <%= @order.user_id %>

Product ID: <%= @order_product_id%>
Quantity: <%= @order.quantity %>
Subtotal: <%= @order.subtotal %>
Tax: <%= @order.tax %>
Total: <%= @order.total %>