<div class ="row">
  <div class="col-sm-8 col-sm-offset-2">

    <h1>Edit <%= @product.name %>:</h1>

    <%= form_tag "/products/#{@product.id}", method: :patch do %>

      <div>
        Name: <input type="text" name="name" value="<%= @product.name %>">
      </div>

      <div>
        Price: <input type="text" name="price" value="<%= @product.price %>">
      </div>

      <div>
        Description: <input type="text" name="description" value="<%= @product.description %>">
      </div>

      <!-- <div>
        Image: <input type="text" name="image" value="<%= @product.images.first.url %>">
      </div> -->
        


        <!-- In Stock: <input type="" name="in_stock" value="<%= @product.in_stock %>"> -->

      <input type="submit" value="Save Changes">

    <% end %>
  
  </div>
</div>