<center>
<br><br>
<h1><%= @product.name %></h1>

<% @product.images.each do |image| %>
  <img src="<%= image.url %>" alt="<%= @product.name%>" class="img-responsive">
  <br><br>
<% end %>


Price: <%= number_to_currency(@product.price) %>
<h4 class="<%= @product.sale_message_class_name %>"><%= @product.sale_message %></h4>
Description: <p><%= @product.description %></p>
Supplied By: <p><%= @product.supplier.name %></p>
<p>Tax: <%= number_to_currency(@product.tax) %></p>
<p>Total: <%= number_to_currency(@product.total) %></p>


<a class="btn btn-outline-secondary" href="/products/<%= @product.id %>/edit">Edit Product</a>

<%= form_tag "/products/#{@product.id}", method: :delete do %>
<input type="submit" class="btn btn-outline-danger" value="Delete Product">
<% end %>

<br><br>
<a class="btn btn-outline-primary" href="/products/">Back to All Products</a>
</center>