<center>
<h1>Product Updated!</h1>

Name: <h3><%= @product.name %></h3>
Image: <br><img src="<%= @product.image %>"><br>
Price: <h3><%= @product.price %></h3>
Description: <h3><%= @product.description %></h3>

<button class="btn btn-outline-primary"><a href="/products/<%= @product.id %>">Back to Product</a></button>

</center>